<%= form_for(link, :html => { :class => "form-inline" }) do |f| %>
  <div class="form-group">
    <label for="inputURL">URL:</label>
    <%= f.text_field :url, autofocus: true, placeholder: 'Your url', id: "inputURL", class: 'form-control' %>
  </div>
    <%= f.submit "Create Shorty",:class=>'btn btn-primary' %>

<% end %>
