<div class="masthead clearfix">
  <div class="inner">
    <nav>
      <ul class="nav masthead-nav">
        <% if admin_signed_in? %>
          <p><li class="active"><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li class="active"><%= link_to "Sign in", new_admin_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
